.ProductContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr)); /* Crea columnas de tamaño flexible */
  gap: 1.25rem; /* Espacio entre las tarjetas */
  align-items: stretch;
}

.ProductContainer > .ProductCard .ProductTitle {
  white-space: nowrap; /* Evita el salto de línea */
  overflow: hidden; /* Oculta el exceso de texto */
  text-overflow: ellipsis; /* Agrega puntos suspensivos si el título es demasiado largo */
}

.ProductContainer > .ProductCard .ProductDescription {
  overflow: hidden; /* Oculta el exceso de texto */
  text-overflow: ellipsis; /* Agrega puntos suspensivos si el título es demasiado largo */
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Muestra máximo 3 líneas */
  -webkit-box-orient: vertical;
  min-height: 4rem;
}

.ProductCard {
  border: 1px solid #ccc;
  border-radius: 0.5rem; /* Utiliza rem en lugar de px */
  padding: 1.25rem; /* Utiliza rem en lugar de px */
  margin-bottom: 1.25rem; /* Utiliza rem en lugar de px */
}  

.ProductCard h2 {
  margin-top: 0;
}

.ProductCard p {
  margin-bottom: 0.625rem; /* Utiliza rem en lugar de px */
}

.ProductCard a {
  display: inline-block;
  padding: 0.3125rem 0.625rem; /* Utiliza rem en lugar de px */
  background-color: #ffa6bf;
  color: #faf5ef;
  font-weight: 650;
  text-decoration: none;
  border-radius: 0.1875rem; /* Utiliza rem en lugar de px */
}

.ProductCard a:hover {
  color: #ffa6bf;
  background-color: #faf5ef;
}

.ProductCard img {
	display: block;
	margin-inline: auto;
	object-fit: scale-down;
  width: 100%;
	max-width: 30rem;
	max-height: 30rem;
	aspect-ratio: 1;
}

/* Card Toolbar */
.ProductCard .CardToolbar {
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
}
.ProductCard .CardToolbar > * {
  flex: 1 1 auto;
}
/* Modal */
.ProductCard {
  position: relative;
}

.ProductContainer .Modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}


.ProductContainer .ModalContent {
	position: absolute;
	top: 15%;
	left: 15%;
	background-color: #fefefe;
	padding: 20px;
	border-radius: 30px;
	max-width: 70vw;
	overflow: auto;
	height: auto;
	max-height: 70vh;
	animation: modal-expand 0.3s ease-in-out forwards;
}

@keyframes modal-expand {
  0% {
    transform: scale(0.5); /* Comienza desde un tamaño pequeño */
    opacity: 0; /* Inicialmente transparente */
  }
  100% {
    transform: scale(1); /* Escala completa */
    opacity: 1; /* Totalmente visible */
  }
}


.ProductContainer .CloseButton {
  position: absolute;
  top: 0;
  right: 2rem;
  cursor: pointer;
}

.CloseButton {
  color: #e8e7e7;
  float: right;
  font-size: 3rem;
  font-weight: bold;
}
.CloseButton:hover,
.CloseButton:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}






